 <!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% block head %}{% endblock %}
</head>


<body>
<nav class="navbar {% if not request.user.is_authenticated %} navbar-expand-lg {% endif %} bg-warning">
    <a class="navbar-brand" href="/">Fast Parcel</a>

    {% if not request.user.is_authenticated %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item {% if request.GET.next != '/courier/' %}active{% endif %}">
           <a class="nav-link active" aria-current="page" href="/sign-in/?next=/customer/">Customer</a>
          </li>
          <li class="nav-item {% if request.GET.next == '/courier/' %}active{% endif %}">
          <a class="nav-link active" aria-current="page" href="/sign-in/?next=/courier/">Courier</a>
        </li>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>

    </div>
    {% else %}
    <form class="form-inline">
        <span class="mr-4">{{ request.user.get_full_name|title }} </span>
        <a href="/sign-out" class="btn btn-outline-dark">sign out</a>
    </form>
    {% endif %}

</nav>
{% block content %}{% endblock %}

<footer class="text-center mt-5 mb-5 ">
    &copy: pythonYoga.com
</footer>


</body>


</html>